html {
	font-family: "Lexend";
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 1em;
}

main {
	flex: 1;
}

footer {
	margin-bottom: 1em;
}

.hlist,
.hlist ol {
	padding: 0;
}

.hlist,
.hlist li {
	display: inline;
}

.hlist li:not(:last-child)::after {
	content: " · ";
	font-weight: bold;
}

.hlist li li:first-child::before {
	content: " (";
	font-weight: normal;
}

.hlist li li:last-child::after {
	content: ")";
	font-weight: normal;
}