html {
	font-family: "Lexend";
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 1em;
}

form {
	margin: 1em 0;
}

main {
	flex: 1;
}

footer {
	margin-bottom: 1em;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
}

dt::after {
	content: ": ";
}

.footer-extra {
	margin-top: 0.5em;
}

.footer-extra ul {
	margin: 0;
}

.hlist,
.hlist ol {
	padding: 0;
}

.hlist,
.hlist li {
	display: inline;
}

.hlist li:not(:last-child)::after {
	content: " · ";
	font-weight: bold;
}

.hlist li li:first-child::before {
	content: " (";
	font-weight: normal;
}

.hlist li li:last-child::after {
	content: ")";
	font-weight: normal;
}

.ublist {
	list-style: none;
}

.you-are-here {
	list-style-type: "→ ";
}

.warning {
	background-color: lightcoral;
	padding: 0.5em;
	margin-bottom: 1em;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #ddd;
		background: #000;
	}
}
